{% extends "base.html" %}

{% block about %}
  <center>
    <main class="col-xl-8 py-md-3 pl-md-5" role="main">
      <h1 class="bd-title secondary-color">
        About
      </h1>
      <p class="bd-lead">
        Learn more about the Aovek project.
      </p>

      <h2 class="secondary-color">
        Team
      </h2>
      <p>
        Aovek is made by me <a href="https://github.com/nikolaystanishev">Nikolay Stanishev</a>. Project can be found on <a href="https://github.com/nikolaystanishev/remove_4ovek">GitHub</a>. If you want to contact me you can write on my <a href="mailto:stanishev.nikolay@gmail.com">email</a> or if you have question on project can join <a href="https://aovek.slack.com/">Aovek Slack</a>.
      </p>

      <h2 class="secondary-color">Description</h2>
      <p>
        Aovek is system for making photos of background without people. <br>Aovek can be used for making photos of very visited landmark around which there are people all the time.
      </p>

      <h2 class="secondary-color">History</h2>
      <p>
        Aovek is my graduation project in Elsys.
      </p>
    </main>
  </center>
{% endblock about %}
