<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
  <a class="navbar-brand" href="/">Aovek</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-3">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="/make_photo">Make photo from video</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="/about">About</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="git-ic mr-3" href="https://github.com/nikolaystanishev/remove_4ovek" target="_blank">
          <i class="fa fa-lg fa-github"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="slack-ic mr-3" href="https://aovek.slack.com/" target="_blank">
          <i class="fa fa-lg fa-slack"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
